language: julia
os:
    - linux
    - osx
julia:
    - nightly
sudo: false
notifications:
    email: false
after_success:
    - julia -e 'using Pkg;cd(Pkg.API.dir("WebSockets")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
